
.skip-link{
    position: absolute;
    top: -90px;
    font-size: large;
    padding: 3%;
    border: darkslategrey 2px solid;
    color:black;
    background-color: antiquewhite;
    height: 20px;   
}

.skip-link:focus {
    top: 35px;
    font-size: x-large;
    padding: 3%;
    border: darkslategrey 2px solid;
    color:black;
    background-color: bisque;
    height: 20px;
    margin-left: 10%;
}


body{
    background-image: url("images/botw_home.jpg");
    background-color: rgb(43, 73, 68);
    color:bisque;
    margin: 0;
}


.zelda_logo{
    width: 50%;
    margin-left: 25%;
}

.tabs ul {
    font-size: large;
    background-color: rgba(255, 255, 255, 0.14);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2% 5% 2% 5%;
    margin: 0%;
}

li a {
    text-decoration: none;
    color:bisque;
    font-weight: bold;
}

li a.active {
    text-decoration: underline;
    color:bisque;
}

li a:focus {
    outline: 2px solid #7fa08a;
    text-align: center;
}

#main_home {
    background-image: url("../images/botw_home.jpg");
    background-size:cover;
    background-position:35% 75%;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: darkslategrey; 
}

iframe {
    height: 11%;
}

#main_home h1 {
    margin: 5% 2% 0% 2%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.459);
}

#main_home h2 {
    background-color: rgba(255, 255, 255, 0.459);
    font-size: large;
    margin-top: 0%;
    padding: 2% 2% 0% 2%;
    width: 100%;
}


footer {
    background-color: #3f3f3f; 
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

.site_footer{
    background-color: #3f3f3f; 
    color: antiquewhite;
    text-align: center;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 2px solid #d1b88d; /* Adds a nice golden divider */
}

.footer_links{
    line-height: 1.8;
}

.footer_links a {
    color: antiquewhite;
    font-weight: bold;
}

.footer_credits {
    margin: 10px 0;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}


.footer_credits a {
    color: red;
    font-weight: bold;
}

.footer_credits a:hover {
    text-decoration: underline;
}

.tab-menu {
    text-align: center;
    padding: 5%;
}

.tab-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background:rgb(97, 97, 97);
    color: rgb(247, 233, 215);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-button.active {
    background:rgb(39, 94, 128);
    color: rgb(247, 233, 215);
}

.tab-content {
    display: none;
}

#characters_container{
    background-image: url("../images/dark_green.jpg");
}

#characters {
    display: block;
}


.character_title{
   justify-items: center;
   margin: 5%;
   text-align: center;
   color:bisque;
}

.character_title p{
    font-size: larger;
}

.character_profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
    overflow: hidden;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10%;
}


.character_profile h2{
    grid-column: 2/3;
    text-align: center;
}


.character_profile p{
    text-align: center;
    grid-column: 1/-1;
    padding: 0% 5% 5% 5%;
    margin-top: 0%;
}



.character_profile img{
    width: 100%;
    grid-column: 2/3;
    justify-self: center;
}

.character_profile .link_image{
    padding-top: 5%;
    width: 110%;
}
.character_profile .zelda_image{
    width: 190%;
    justify-self: center;
}

.character_profile .mipha_image{
    padding-top: 20%;
}

.character_profile .revali_image{
    padding-top: 20%;
    padding-right: 5%;
    width: 130%;
}
.character_profile .hestu_image{
    width: 160%;
}

.character_profile_different .sidon_image{
    padding-top: 20%;
    width: 120%;
}

.character_profile_different{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
    overflow: hidden;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10% 10% 0% 10%;
}

.character_profile_different img{
    width: 100%;
    grid-column: 2/3;
    justify-self: center;
}

.sidon_name{
    grid-column: 2/3;
    text-align: center;
}

.character_profile_different p{
    text-align: center;
    grid-column: 1/-1;
    padding: 0% 5% 5% 5%;
    margin-top: 0%;
}


.beast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10%;

}


.beast img{
    grid-column: 2/3;
    justify-items: center;
    width: 110%;
    padding-top: 20%;
}

.beast .ganon_image{
    width: 100%;
    grid-column: 1/-1;

}


.beast p {
    grid-column: 1/-1;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0%;
    text-align: center;
}

.beast h2{
    grid-column: 2/3;
    text-align: center;
}

.beast_different{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10% 10% 0% 10%;
}

.beast_different img{
    grid-column: 2/3;
    justify-items: center;
    width: 120%;
    padding-top: 20%;
}

.beast_different p {
    grid-column: 1/-1;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0%;
    text-align: center;
}

.beast_different h2{
    grid-column: 2/3;
    text-align: center;
}

.main_weapons{
    margin: 4%;

}

.weapons_top{
    text-align: center;
    margin: 3%;
}

.weapon_card{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10% 5% 0% 5%;
}

.weapon_category img{
    width: 100%;
}

.weapon_category {
    background-color:rgb(34, 56, 56);
    background-image: url("../images/dark_green.jpg");
}

.weapon_category .master_image{
    width: 40%;
}

.weapon_category .ancient_image{
    width: 60%;
}

.weapon_category .claymore_image{
    width: 40%;
}

.weapon_category .biggoron_image{
    width: 50%;
}

.weapon_category h2{
    padding: 6% 0% 0% 5%;
    margin-top: 0;
    text-align: center;
}
.weapon_card p{
    text-align: center;
}


#main_places h1{
text-align: center;
}

.image_container p{
    text-align: center;
    margin-top: 6%;
}

.image_container img{
    width: 100%;
    height: 70%;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
}

.image_container{
    padding: 9% 10% 9% 2%;
}

.image_container img:hover{
    transform:scale(1.2);
    background:white;
    z-index: 2;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 800px){

    .tabs ul {
        font-size: 50px;
    }

    body{
        font-size: xxx-large;
    }

    #main_home h2{
        font-size: xxx-large;
    }

    .iframe{
        border-radius: 12px;
        height: 352;
        width: 100%;
    }

    footer{
        font-size: 25px;
    }

    .site_footer{
        font-size: 25px;
    }

    .tab-button{
        font-size: 40px;
        margin: 4%;
        padding: 3%;
    }

    .character_profile{
        border: #7fa08a ridge 25px;
    }

    .character_profile_different{
        border: #7fa08a ridge 25px;
    }

    .character_title h1{
        font-size: 75px;
    }
    .character_title p{
        font-size: 50px;
    }


    .character_profile h2{
        font-size: 75px;
    }
    .character_profile p{
        font-size: 50px;
    }

    .character_profile_different h2{
        font-size: 75px;
    }
    .character_profile_different p{
        font-size: 50px;
    }

    .beast h2{
        font-size: 75px;
    }
    .beast p{
        font-size: 50px;
        text-align: center;
    }

    .beast_different h2{
        font-size: 75px;
    }
    .beast_different p{
        font-size: 50px;
        text-align: center;
    }

    .beast{
        border: #7fa08a ridge 25px;
    }
    .beast_different{
        border: #7fa08a ridge 25px;
    }
    .weapons_title{
        font-size: 75px;
    }

    .title_description{
        font-size: 50px;
    }

    .weapon_category h2 {
        font-size: 75px;
    }

    .weapon_card h3{
        font-size: 50px;
    }

    .weapon_card p{
        font-size: 40px;
    }

    .weapon_card{
        border: #7fa08a ridge 25px;
        margin: 10%;
    }
    .image_container img{
        border: #7fa08a ridge 25px;
    }
}