
.skip-link{
    position: absolute;
    top: -90px;
    font-size: large;
    padding: 3%;
    border: darkslategrey 2px solid;
    color:black;
    background-color: antiquewhite;
    height: 20px;   
}

.skip-link:focus {
    top: 35px;
    font-size: x-large;
    padding: 3%;
    border: darkslategrey 2px solid;
    color:black;
    background-color: bisque;
    height: 20px;
    margin-left: 10%;
}

@font-face {
    font-family: 'Hylia Serif';
    src: url('./fonts/hylia_serif.otf') format('opentype');
  }


body{
    background-image: url("images/botw_home.jpg");
    background-color: rgb(43, 73, 68);
    color:bisque;
    margin: 0;
    overflow-x: hidden;
}


.zelda_logo{
    width: 50%;
    margin-left: 25%;
}

.tabs ul {
    font-size: large;
    background-color: rgba(255, 255, 255, 0.14);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2% 5% 2% 5%;
    margin: 0%;
}

li a {
    text-decoration: none;
    color:bisque;
    font-weight: bold;
    text-shadow: 2px 2px 20px rgb(19, 32, 32);
}

li a.active {
    text-decoration: underline;
    color:bisque;
    }



li a:focus {
    outline: 2px solid #7fa08a;
    text-align: center;
}

#main_home {
    background-image: url("../images/botw_home.jpg");
    background-size:cover;
    background-position:35% 75%;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: darkslategrey; 
    overflow-y: hidden;
    overflow-x: hidden;

}

.home_subtitle{
    font-size: larger;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

#main_home h1 {
    margin: 5% 2% 0% 2%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.459);
    border-top: #636965 solid 5px;
    border-left: #636965 solid 5px;
    border-right: #636965 solid 5px;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family: 'Hylia Serif', serif;
}

#main_home h2 {
    background-color: rgba(255, 255, 255, 0.459);
    width: 90%;
    margin: 0% 20% 3% 20%;
    padding-bottom: 3%;
    border-left: #636965 solid 5px;
    border-right: #636965 solid 5px;;
    border-bottom: #636965 solid 5px;;


}


footer {
    background-color: #3f3f3f; 
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

.site_footer{
    background-color: #3f3f3f; 
    color: antiquewhite;
    text-align: center;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_links{
    line-height: 1.8;
}

.footer_links a {
    color: antiquewhite;
    font-weight: bold;
}

.footer_credits {
    margin: 10px 0;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}


.footer_credits a {
    color: rgb(176, 180, 255);
    font-weight: bold;
}

.footer_credits a:hover {
    text-decoration: underline;
}

.tab-menu {
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.tab-button {
    padding:3%;
    margin: 5px;
    border: none;
    background:rgb(97, 97, 97);
    color: rgb(247, 233, 215);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 8%;
    margin-right: 8%;
}

.tab-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tab-button.active {
    background:#13527a;
    color: rgb(247, 233, 215);
}

.tab-content {
    display: none;
}

.parallax {
    background-image: url("../images/dark_green.jpg"); /* Your desired background image */
    background-attachment: fixed; /* Keeps background fixed during scrolling */
    background-position: center; /* Centers the image */
    height: 100vh; /* Makes the section height take up the full viewport height */
    justify-content: center;
    align-items: center;
    color: white; /* Adjust text color */
    overflow: hidden; /* Add this */
}

.parallax,
.parallax-text {
  height: auto;
}

#characters_container{
    background-image: url("../images/dark_green.jpg");
}

#characters {
    display: block;
}


.character_title{
   justify-items: center;
   text-align: center;
   color:bisque;
   text-shadow: 2px 2px 20px rgb(19, 32, 32);
   margin: 2%;
}

.character_profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
    overflow: hidden;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




.character_profile h2{
    grid-column: 1/-1;
    text-align: center;
}

.character_profile p{
    grid-column:1/-1;
    text-align: center;
    margin-top: 0%;
    padding-bottom: 5%;
}

.character_title p{
    text-align: center;
    padding: 0% 5% 0% 5%;
    font-size: larger;
    margin-top: 0%;
}



.character_profile img{
    width: 100%;
    grid-column: 2/3;
    justify-self: center;
}

.character_profile_different{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
    overflow: hidden;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.character_profile_different h2{
    grid-column: 2/3;
    text-align: center;
}


.character_profile_different p{
    text-align: center;
    grid-column: 1/-1;
    padding: 0% 5% 5% 5%;
    margin-top: 0%;
}



.character_profile .link_image{
    padding-top: 5%;
    width: 110%;
}

.character_profile .zelda_image{
    width: 190%;
    justify-self: center;
}

.character_profile .mipha_image{
    padding-top: 20%;
}

.character_profile_different .revali_image{
    padding-top: 30%;
    padding-right: 25%;
    width: 130%;
}

.character_profile .hestu_image{
    width: 170%;
    padding-left: 5%;
}

.character_profile_different .sidon_image{
    padding-top: 20%;
    padding-right: 35%;
    width: 120%;
}

.character_profile_different{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
    overflow: hidden;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10% 10% 10% 10%;
}

.character_profile_different img{
    width: 100%;
    grid-column: 2/3;
    justify-self: center;
}

.sidon_name{
    grid-column: 2/3;
    text-align: center;
}

.hestu_name{
    margin-top: 0%;
}

.character_profile_different p{
    text-align: center;
    grid-column: 1/-1;
    padding: 0% 5% 5% 5%;
    margin-top: 0%;
}

#beasts{
    display: grid;
}


.beast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


.beast img{
    grid-column: 2/3;
    justify-items: center;
    width: 100%;
    padding-top: 20%;
}



.beast p {
    grid-column: 1/-1;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0%;
    text-align: center;
}

.beast h2{
    grid-column: 2/3;
    text-align: center;
}

.beast .ganon_image{
    width: 100%;
    grid-column: 1/-1;

}
.yiga_image{
    padding-left: 12%;
}

.beast_different{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    margin: 10% 10% 10% 10%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.beast_different img{
    grid-column: 2/3;
    justify-items: center;
    width: 120%;
    padding-top: 20%;
}

.beast_different p {
    grid-column: 1/-1;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0%;
    text-align: center;
}

.beast_different h2{
    grid-column: 2/3;
    text-align: center;
}

.main_weapons{
    margin: 4%;

}

.weapons_top{
    text-align: center;
    margin: 3%;
    text-shadow: 2px 2px 20px rgb(19, 32, 32);
}


.weapon_tabs{
    text-align: center;
    margin-top: 10%;

}

.weapon_tabs.active{
    background: #13527a;
    color: rgb(247, 233, 215);
}

.weapon_card{
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    padding: 5%;
    margin: 10% 10% 10% 10%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.weapon_category img{ 
    width: 100%;
}
.weapon_card .lynel_sword_image{
    width: 30%;
}

#main_weapons {
    background-color:rgb(34, 56, 56);
    background-image: url("../images/dark_green.jpg");
}

#bows.weapon_tabs{
    padding-top: 0%;
}

#melee.weapon_tabs{
    padding-top: 0;
}

.weapon_card .master_image{
    width: 40%;
}

.weapon_card .ancient_image{
    width: 60%;
}

.weapon_card .claymore_image{
    width: 40%;
}

.weapon_card .biggoron_image{
    width: 50%;
}

.weapon_category h2{
    padding: 2%;
    text-align: center;
    background-color: #13527a;
    margin: 0%;
}
.weapon_card p{
    text-align: center;
}

.weapon_card img{
    width: 100%;
}

.weapon_card_different img{
    width: 100%;
}

#main_places h1{
    font-size: 35px;
    text-align: center;
    margin: 3%;
    text-shadow: 2px 2px 20px rgb(19, 32, 32);
}

.image_container p{
    text-align: center;
    margin-top: 2%;
}

.image_container img{
    width: 100%;
    border: #7fa08a ridge 10px;
    background-color: #4d6155;
    height: 70%;
}

.image_container{
    padding: 9% 10% 9% 2%;
    transition: transform .2s;
}

.image_container:hover{
    transform:scale(1.2);
    z-index: 2;
}


.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #e8ecee9a;; /* Set a background color */
    color: #13527a;; /* Text color */
    cursor: pointer;
    padding: 10px; 
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #a2a1a187; /* Add a dark-grey background on hover */
  }


@media screen and (min-width: 800px){


.skip-link{
    top: -200px;
}

    .zelda_logo{
        width: 20%;
        padding-left: 15%;
    }
    .tabs ul {
        font-size: 25px;
    }

    body{
        font-size: 15px;
    }

    #main_home h1{
        font-size: 40px;
    }

    #main_home h2{
        font-size: 30px;
    }

    .iframe{
        display: none;
    }

    .iframe-container {
        display: none;
    }


    footer{
        font-size: 15px;
    }

    .site_footer{
        font-size: 15px;
    }

    .tab-menu {
        margin-top: 0%;
    }
    

    .tab-button{
        font-size: 25px;
        margin: 4% 5% 0% 5%;
        padding: 1%;
    }

    #characters{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .character_profile{
        border: #7fa08a ridge 25px;
    }

    .character_profile_different{
        border: #7fa08a ridge 25px;
        margin: 10%;
    }

    .character_title h1{
        font-size: 35px;
    }
    .character_title p{
        font-size: 25px;
    }


    .character_profile h2{
        font-size: 25px;
    }
    .character_profile p{
        font-size: 20px;
    }

    .character_profile .link_image {
        width: 110%;
    }

    .character_profile .zelda_image {
        width: 180%;
    }

    .character_profile .mipha_image {
        width: 100%;
        padding-top: 5%;
    }


    .character_profile .hestu_image {
        width: 180%;
    }

    .character_profile_different .revali_image {
        padding-top: 20%;
        width: 110%;
    }

    .character_profile_different h2{
        font-size: 25px;
    }


    .character_profile_different .sidon_image {
        padding-top: 20%;
        padding-right: 25%;
        width: 110%;
    }

    .character_profile_different p{
        font-size: 20px;
    }

    .beast_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .beast h2{
        font-size: 25px;
    }
    .beast p{
        font-size: 20px;
        text-align: center;
    }

    .beast_different h2{
        font-size: 25px;
    }
    .beast_different p{
        font-size: 20px;
        text-align: center;
    }

    .beast{
        border: #7fa08a ridge 25px;
    }
    .beast_different{
        border: #7fa08a ridge 25px;
    }

    .beast_different img{
        justify-self: center;
    }

    .beast .ganon_image{
        width: 75%;
        padding-left: 12%;
        padding-top: 10%;
    }

    .lynel_name{
        margin: 0%;
    }

    .beast .lynel_image{
        padding-top: 60%;
        width: 110%;
    }

    .beast_different .liz_image{
        width: 190%;
        padding-top: 60%;
    }

    .beast_different .monk_image{
        width: 145%;
    }

    .beast .mol_image{
        width: 130%;
        padding-top: 60%;
        padding-right: 30%;
    }

    .mol_name{
        margin:0%;
        justify-content: center;
    }

    .beast img{
        width: 110%;
        padding-top: 20%;
    }

    .weapons_title{
        font-size: 35px;
        text-shadow: 2px 2px 20px rgb(19, 32, 32);
    }


    .title_description{
        font-size: 25px;
    }

    .weapon_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        overflow: hidden;
    }

    .weapon_card{
        border: #7fa08a ridge 25px;
        display: flex;
        justify-items: center;
        justify-content:first baseline;
        justify-self: center;
        margin: 10%;
    }


    .weapon_card h3{
        font-size: 25px;
        text-align: center;
    }

    .weapon_card p{
        font-size: 20px;
    }

    .weapon_tabs{
        text-align: center;
        padding: 0%;
        margin-top: 0%;
    }

    .image_container img{
        border: #7fa08a ridge 25px;
    }

    .weapon_card img{
        height: 160px;
    }

    .weapon_card .biggoron_image{
        width: 100%;
    }

    #main_places{
        overflow-x: hidden;
    }

    .image_container p{
        text-align: center;
        margin-top: 2%;
        font-size: 20px;
    }
    
}